@{
    var turma = ViewBag.Turma;
    var alunos = ViewBag.Alunos;
}

<h2>@turma.Nome - @turma.Curso</h2>

<h3>Alunos cadastrados:</h3>
@if (alunos.Count == 0)
{
    <p>Nenhum aluno cadastrado ainda.</p>
}
else
{
    <ul>
        @foreach (var aluno in alunos)
        {
            <li>@aluno.Nome (@aluno.Email)</li>
        }
    </ul>
}
