@model List<Entrega>

<h2>Atividades</h2>
<table class="table">
    <thead>
        <tr>
            <th>Aluno</th>
            <th>Nota</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.NomeAluno</td>
                <td>@(a.Nota.HasValue? a.Nota.ToString() : "Pendente")</td>
                <td>
                    <a asp-action="Corrigir" asp-route-id="@a.Id" class="btn btn-primary">Corrigir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
