@{
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div style="color: green; margin-bottom: 15px;">
        @TempData["MensagemSucesso"]
    </div>
}

@if (ViewBag.Erro != null)
{
    <div style="color: red; margin-bottom: 15px;">
        @ViewBag.Erro
    </div>
}

<h2>Login</h2>

<form method="post" asp-controller="HelloWorld" asp-action="Login">
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="senha">Senha:</label><br>
    <input type="password" id="senha" name="senha" required><br><br>

    <input type="submit" value="Entrar">
</form>

<!-- Botão do Chatbot -->
<div class="text-center mt-3">
    <a asp-controller="Chat" asp-action="Chat" class="btn btn-outline-success w-100">
        💬 Falar com o Chatbot
    </a>
</div>

<!-- Botão do Suporte -->
<div class="text-center mt-2">
    <a href="https://wa.me/13996210572" target="_blank" class="btn btn-outline-primary w-100">
        📞 Falar com o Suporte (WhatsApp)
    </a>
</div>
<p>
    <a asp-controller="Conta" asp-action="EsqueceuSenha">Esqueci minha senha</a>

        Esqueci minha senha
    </a>
</p>


<p>Não tem uma conta? <a asp-controller="HelloWorld" asp-action="Cadastro">Cadastre-se aqui</a></p>
