@*  *@
@{
    ViewData["Title"] = "Login";
}

@*  *@
@if (TempData["MensagemSucesso"] != null)
{
    <div style="color: green; margin-bottom: 15px;">
        @TempData["MensagemSucesso"]
    </div>
}

@*  *@
@if (ViewBag.Erro != null)
{
    <div style="color: red; margin-bottom: 15px;">
        @ViewBag.Erro
    </div>
}

<h2>Login</h2>

@*  *@
<form method="post" asp-controller="HelloWorld" asp-action="Login">
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="senha">Senha:</label><br>
    <input type="password" id="senha" name="senha" required><br><br>

    <input type="submit" value="Entrar">
</form>

<p>Não tem uma conta? <a asp-controller="HelloWorld" asp-action="Cadastro">Cadastre-se aqui</a></p>