@{
    ViewData["Title"] = "E-mail enviado";
}
<h3>Se o e-mail informado existir em nossa base, você receberá um link para redefinir sua senha.</h3>
<p>Verifique a caixa de spam caso não encontre.</p>
