@{
    ViewData["Title"] = "Esqueci minha senha";
}
<h2>Esqueci minha senha</h2>
<form asp-action="EnviarToken" method="post">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Enviar link de recuperação</button>
    @Html.AntiForgeryToken()
</form>
